html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("assets/imagem-palavra-secreta.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  display: grid;
  justify-content: center;
}
